* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  font-family: monospace;
}

body {
  font-family: arial, sans-serif;
  text-transform: uppercase;
}
/*
*
*
*
*
  BUTTON STYLES
*
*
*
*
*/

.auth-buttons {
   align-items: center;
  background: transparent;
  border-radius: 3px;
  border: lightblue 1px solid;
  cursor: pointer;
  display: flex;
  padding: 0px 15px;
  margin: 0px 5px;
  transition: all 200ms ease;
  justify-content: center;
  height: 40px;
  width: 100px;
}

.auth-buttons:hover {
  background-color: lightblue;
}

/*
*
*
*
*
  ALERT STYLES
*
*
*
*
*/
/* .alert {
  align-items: center;
  border-radius:5px;
  color:black;
  border: 1px solid red;
  display: flex;
  font-family:1.3rem;
  justify-content: center;
  position: fixed;
  bottom:10px;
  left:10px;
  height:50px;
  width: 250px;
} */
.alert-login-container {
  align-items: center;
  background: hsla(0, 0%, 9%, 0.184);
  position: fixed;
  top:0px;
  left:0px;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
.alert-login-container .modal {
  animation: animation-in 200ms linear;
  background-color: #fff;
  border-radius:5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 20vh;
  width:20vw;
  text-align: center;
  padding: 20px;  
  font-size:35px;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.alert-login-container img {
  position: absolute;
  right: 10px;
  top:10px;
  cursor: pointer;
}

@keyframes animation-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }to{
    opacity: 1;
    transform: translateY(0px);
  }
}

/*
*
*
*
*
  HEADER STYLES
*
*
*
*
*/
.container {
  margin: 0px auto;
  height: 100vh;
  width: 80%;
}

header {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  font-family: monospace;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header nav ul {
  align-self: flex-end;
  display: flex;
  text-decoration: none;
}

header nav ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 30px;
}

header nav ul li img {
  margin-right: 10px;
}

header nav ul li a {
  color: black;
}

header nav ul .auth-buttons {
  border-radius: 3px;
  border: lightblue 1px solid;
  cursor: pointer;
  padding: 0px 15px;
  margin: 0px 5px;
  transition: all 200ms ease;
  width: 100px;
  display: flex;
  justify-content: center;
  height: 40px;
}

header nav ul .auth-buttons:hover {
  background-color: lightblue;
}

body h2 {
  margin-bottom: 10px;
}

h3 {
  padding: 30px 0px 30px 0px;
  margin-left: 20px;
}

input[type="text"] {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
}

input[type="text"]:focus {
  background-color: rgb(233, 229, 229);
}

/* input[type="submit"] {
  width: 50%;
  height: 60%;
  display: block;
  margin: 0px auto;
  border: none;
  cursor: pointer;

  border-radius: 2px;
} */

form {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  justify-content: center;
}

form label {
  text-align: center;
}




.card .gif {
  display: block;
  margin: 0px auto;
  max-width: 300px;
  max-height: 300px;
}

/*
*
*
*
*
  FAVORITEGIFS SCREEN STYLES
*
*
*
*
*/
.container section .favorite-screen-denied {
  height: calc(100vh - 51px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.container section .favorites {
  margin-top:30px;
}
.container section .gif-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container section .gif-card-container .card {
  width: 25%;
  height: 400px;
  position: relative;
  margin: 20px;
}

.container section .gif-card-container .card button {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  bottom: 0px;
  position: absolute;
  height: 30px;
  width: 100%;
  cursor: pointer;
}
.container section .gif-card-container .card button #star-img {
  margin-right:20px;
}
.container section .gif-card-container .card button:hover {
  background-color: #ccc;
}
.container section .gif-card-container .card p {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 50px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
}


/*
*
*
*
*
  ADDCATEGORY SCREEN STYLES
*
*
*
*
*/

.search-gif {
  margin:30px 0px;
}
.search-gif form > label {
  font-size: 17px;
}
.search-gif form input[type="submit"] {
  background-color: #fff;
  border-radius:2px;
  border:1px solid #ccc;
  cursor: pointer;
  padding: 10px;
}
.search-gif form input[type="submit"]:hover {
  background-color: lightblue;
  border:none;
  color:#fff;
}


/* @media (max-width: 1335px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  input[type="submit"] {
    width: 80%;
  }
}

@media (max-width: 1047px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 905px) {
  .container {
    margin-top: 0px;
  }

  h3 {
    margin-top: 50px;
  }

  form {
    height: 50px;
    align-items: center;
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(2, 100%);
  }

  form label {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  form input[type="submit"] {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  form input[type="text"] {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

@media (max-width: 741px) {
  .container {
    grid-template-columns: 100%;
  }

  .card {
    margin: 10px;
  }

  .card p {
    margin-top: 10px;
  }
}

@media (max-width: 429px) {
  body {
    padding: 0px;
    padding: 50px 5px 0px 5px;
  }

  form {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 100%);
  }

  h3 {
    margin-top: 100px;
  }

  form input[type="submit"] {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 50%;
  }
} */