* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  font-family: monospace;
}

body {
  font-family: arial, sans-serif;
  text-transform: uppercase;
}

/*
*
*
*
*
  BUTTON STYLES
*
*
*
*
*/

.auth-buttons {
  align-items: center;
  background: transparent;
  border-radius: 3px;
  border: lightblue 1px solid;
  cursor: pointer;
  display: flex;
  padding: 0px 15px;
  margin: 0px 5px;
  transition: all 200ms ease;
  justify-content: center;
  height: 40px;
  width: 100px;
}

.auth-buttons:hover {
  background-color: lightblue;
}

/*
*
*
*
*
  ALERT STYLES
*
*
*
*
*/
/* .alert {
  align-items: center;
  border-radius:5px;
  color:black;
  border: 1px solid red;
  display: flex;
  font-family:1.3rem;
  justify-content: center;
  position: fixed;
  bottom:10px;
  left:10px;
  height:50px;
  width: 250px;
} */
.alert-login-container {
  align-items: center;
  background: hsla(0, 0%, 9%, 0.184);
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.alert-login-container .modal {
  animation: animation-in 200ms linear;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 20vh;
  width: 20vw;
  text-align: center;
  padding: 20px;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.alert-login-container img {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

@keyframes animation-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*
*
*
*
*
  HEADER STYLES
*
*
*
*
*/
.container {
  margin: 0px auto;
  height: 100vh;
  width: 80%;
}

header {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  font-family: monospace;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header nav ul {
  align-self: flex-end;
  display: flex;
  text-decoration: none;
}

header nav ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 30px;
}

header nav ul li img {
  margin-right: 10px;
}

header nav ul li a {
  color: black;
}

header nav ul .auth-buttons {
  border-radius: 3px;
  border: lightblue 1px solid;
  cursor: pointer;
  padding: 0px 15px;
  margin: 0px 5px;
  transition: all 200ms ease;
  width: 100px;
  display: flex;
  justify-content: center;
  height: 40px;
}

header nav ul .auth-buttons:hover {
  background-color: lightblue;
}

body h2 {
  margin-bottom: 10px;
}

h3 {
  padding: 30px 0px 30px 0px;
  margin-left: 20px;
}

.search-gif input[type="text"] {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
}

input[type="text"]:focus {
  background-color: rgb(233, 229, 229);
}

/* input[type="submit"] {
  width: 50%;
  height: 60%;
  display: block;
  margin: 0px auto;
  border: none;
  cursor: pointer;

  border-radius: 2px;
} */

form {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  align-items: center;
  justify-content: center;
}


.card .gif {
  display: block;
  margin: 0px auto;
  max-width: 300px;
  max-height: 300px;
}

/*
*
*
*
*
  FAVORITEGIFS SCREEN STYLES
*
*
*
*
*/
.container section .favorite-screen-denied {
  height: calc(100vh - 51px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.container section .favorites {
  margin-top: 30px;
}

.container section .gif-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container section .gif-card-container .card {
  width: 25%;
  height: 400px;
  position: relative;
  margin: 20px;
}

.container section .gif-card-container .card button {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  bottom: 0px;
  position: absolute;
  height: 30px;
  width: 100%;
  cursor: pointer;
}

.container section .gif-card-container .card button #star-img {
  margin-right: 20px;
}

.container section .gif-card-container .card button:hover {
  background-color: #ccc;
}

.container section .gif-card-container .card p {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 50px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
}


/*
*
*
*
*
  ADDCATEGORY SCREEN STYLES
*
*
*
*
*/

.search-gif {
  margin: 30px 0px;
}

.search-gif form>label {
  font-size: 17px;
}

.search-gif form input[type="submit"] {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 10px;
}

.search-gif form input[type="submit"]:hover {
  background-color: lightblue;
  border: none;
  color: #fff;
}

/*
*
*
*
*
  LOGIN AND REGISTER SCREEN STYLES
*
*
*
*
*/
main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.login_and_register {
  width: 40%;
  background-color: #6C63FF;
  height: 100vh;
  display: flex;
}

.forms {
  background-image: url("https://media0.giphy.com/media/14gxbEtCfIqdnG/giphy.gif?cid=792e69a2qy1rghd3a5p2n3f3i0obfgs21m6vpqk0pqnzzxex&amp;rid=giphy.gif&amp;ct=g"); 
  /* background-image: url("https://media2.giphy.com/media/3gJRDvjz1vc666fxPl/giphy-downsized-medium.gif?cid=792e69a23h8o2322xz8vnkaxbzrydhycdq3nog0bvr73brur&rid=giphy-downsized-medium.gif&ct=g"); */
  background-repeat:round;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
  Forms Secction
*/
.forms form {
  /* background-color: #fff; */
  background-color:#FCB1AA ;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  display: flex;
  min-height: 300px;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  height: 50vh;
  width: 500px;
}
.forms form h3 {
  font-size:30px; 
  color: #6C63FF;
  margin:0px;
}
.forms form span {
  color:#6C63FF;
  font-size:15px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  transition: all 200ms easy;
}
.forms form span:hover {
  box-shadow: 1px 2px 1px #ccc;
}

.forms .form-group {
  padding: 10px;
  width: 100%;
  display: flex;
}

.forms .form-group label {
  width: 15%;
  padding: 8px;
}

.forms .form-group input[type="password"],  input[type="email"], input[type="text"] {
  border-radius:5px;
  width: 85%;
  padding: 0px 5px;
  border: .5px solid #ccc;
}
.forms form input:focus {
  background-color: #fff;
  outline: none;
  border: 2px solid #6C63FF;
}
.forms .form-group input[type="password"]:focus{
  outline: none;
  border: 2px solid #6C63FF;
}
.forms form input[type="submit"] { 
  border-radius:5px;
  background-color:#6C63FF;
  color:#fff;
  cursor: pointer;
  padding:10px 20px;
  border:1px solid #6C63FF;
  transition: all 300ms ease  ;
}
.forms form input[type="submit"]:active {
  transform: scale(0.7);
} 

/*
  Welcome Secction
*/
.login_and_register .login_and_register_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login_and_register .login_and_register_container .login_and_register_img_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login_and_register .login_and_register_container .login_and_register_img_container img {
  width: 80%;
}

.login_and_register .login_and_register_container .login_and_register_text_container {
  color: #fff;
  font-family: monospace;
  text-align: center;
}











/* @media (max-width: 1335px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  input[type="submit"] {
    width: 80%;
  }
}

@media (max-width: 1047px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 905px) {
  .container {
    margin-top: 0px;
  }

  h3 {
    margin-top: 50px;
  }

  form {
    height: 50px;
    align-items: center;
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(2, 100%);
  }

  form label {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  form input[type="submit"] {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  form input[type="text"] {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

@media (max-width: 741px) {
  .container {
    grid-template-columns: 100%;
  }

  .card {
    margin: 10px;
  }

  .card p {
    margin-top: 10px;
  }
}

@media (max-width: 429px) {
  body {
    padding: 0px;
    padding: 50px 5px 0px 5px;
  }

  form {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 100%);
  }

  h3 {
    margin-top: 100px;
  }

  form input[type="submit"] {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 50%;
  }
} */